﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<form action="@ViewBag.action" method="@ViewBag.method">

   
    <h5>Enter Your Detail with Query Here</h5>
    <div class="form-group ">
        <label for="name"> Name</label>
        <input id="name" type="text" name="Name" value="" class="form-control" />
    </div>
    <div class="form-group ">
        <label for="phone"> Phone no :</label>
        <input id="phone" type="text" name="Phone" value="" class="form-control" />
    </div>
    <div class="form-group ">
        <label for="email">Email id: </label>
        <input id="email" type="text" name="Email" value="" class="form-control" />
    </div>
    <div class="form-group ">
        <label for="query"> </label>
        <textarea id="query" name="Query" value="" class="form-control" cols="10" rows="5"></textarea>

    </div>
    <div class="form-group ">

        <button type="submit" class="btn btn-primary btn-lg">  Save   </button>
    </div>


</form>

@if (@ViewBag.done != null)
{
    <div class="bg-success" >
       
        <h5> @ViewBag.done </h5>  
    </div>
}

