﻿@model demo1.Models.Emp

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index </title>
</head>
<body>

    @*<div>@Model.Name</div>*@

    Name :   @Html.TextArea("Name");
    <br />
    No : @Html.TextArea("No");
    <br />
    Address : @Html.TextArea("Address");

    <br />

    @Html.bu
</body>
</html>

