﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div>
       
        <div class="card-header-pills bg-info border ">
            <p>
                   Sorry,operation failed , due to error, please try again
                Technical Details:
            </p> 
        </div>
        <div class="card-body border bg-danger " >
            @Model
        </div>
       
        <p> <a href="/Test/Show" class="btn btn-primary">Go to homepage</a> </p>
    
    </div>
</body>
</html>
