﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Error page</title>
</head>
<body>
    <div class="container">
        <h2>Something gone wrong , error occured, please try again </h2>
        <h4> Technical Error : </h4>
        <p>  @Model.Exception.Message </p>

        <a class="btn btn-primary" href="/Home/Index">go to homepage</a>

    </div>
</body>
</html>
